<div class="container">
  <div class="card card-container">
    <h2 class="text-center">Edit information</h2>
    <%= image_tag "logo.png", class: "profile-img-card" %>
    <p id="profile-name" class="profile-name-card"></p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <form class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email"  %><br/>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirmation password" %><br/>
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Current password" %><br/>
      <%= f.submit "Update", class: "btn btn-lg btn-primary btn-block btn-signin"  %>
    </form>
    <% end %>
    <!-- /form -->
    <h3>Cancel my account</h3>
    <p>Unhappy? <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class:"btn btn-danger" , method: :delete %></p>
    <%= link_to "Back", :back  %>
  </div>
  <!-- /card-container -->
</div>
